In [11]:
import pandas as pd
import numpy as np
from itertools import combinations

# read in features

In [19]:
features = pd.read_csv('cropped_final_feature_array.csv')

In [17]:
pd.set_option('display.max_columns', None)

In [20]:
features.head()

,Collection_Code,Formula,max_ionic_char,avg_ionic_char,chg_dispro,e1_avg_oxi,e2_avg_oxi,e1_Number,e1_MendeleevNumber,e1_AtomicWeight,e1_MeltingT,e1_Column,e1_Row,e1_CovalentRadius,e1_Electronegativity,e1_NsValence,e1_NpValence,e1_NdValence,e1_NfValence,e1_NValence,e1_NsUnfilled,e1_NpUnfilled,e1_NdUnfilled,e1_NfUnfilled,e1_NUnfilled,e1_GSvolume_pa,e1_GSbandgap,e1_GSmagmom,e2_Number,e2_MendeleevNumber,e2_AtomicWeight,e2_MeltingT,e2_Column,e2_Row,e2_CovalentRadius,e2_Electronegativity,e2_NsValence,e2_NpValence,e2_NdValence,e2_NfValence,e2_NValence,e2_NsUnfilled,e2_NpUnfilled,e2_NdUnfilled,e2_NfUnfilled,e2_NUnfilled,e2_GSvolume_pa,e2_GSbandgap,e2_GSmagmom
0,159910,TiO2,0.594445,0.132099,False,4.0,-2.0,22.0,43.0,47.867000,1941.0,4.0,4.0,160.0,1.54,2.0,0.0,2.0,0.0,4.0,0.0,0.0,8.0,0.0,8.0,16.690000,0.000,0.000023,8.0,87.0,15.9994,54.80,16.0,2.0,66.0,3.44,2.0,4.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,2.0,9.105,0.0,0.0
1,180903,SiO2,0.447278,0.099395,False,4.0,-2.0,14.0,78.0,28.085500,1687.0,14.0,3.0,111.0,1.90,2.0,2.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,4.0,20.440000,0.773,0.000000,8.0,87.0,15.9994,54.80,16.0,2.0,66.0,3.44,2.0,4.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,2.0,9.105,0.0,0.0
2,246888,MnO2,0.590585,0.131241,False,4.0,-2.0,25.0,52.0,54.938045,1519.0,7.0,4.0,139.0,1.55,2.0,0.0,5.0,0.0,7.0,0.0,0.0,5.0,0.0,5.0,10.487586,0.000,0.000310,8.0,87.0,15.9994,54.80,16.0,2.0,66.0,3.44,2.0,4.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,2.0,9.105,0.0,0.0
3,108587,MgZn2,0.028486,0.006330,False,0.0,0.0,12.0,68.0,24.305000,923.0,2.0,3.0,141.0,1.31,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,22.890000,0.000,0.000000,30.0,69.0,65.3800,692.68,12.0,4.0,122.0,1.65,2.0,0.0,10.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,13.960,0.0,0.0
4,89278,SiO2,0.447278,0.099395,False,4.0,-2.0,14.0,78.0,28.085500,1687.0,14.0,3.0,111.0,1.90,2.0,2.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,4.0,20.440000,0.773,0.000000,8.0,87.0,15.9994,54.80,16.0,2.0,66.0,3.44,2.0,4.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,2.0,9.105,0.0,0.0

# group feature names by units

In [49]:
ptable_number_feats = ['e1_Number','e1_MendeleevNumber','e1_Column', 'e1_Row'] 
ptable_number_feats += [name.replace('e1','e2') for name in ptable_number_feats]
mass_feats = ['e1_AtomicWeight']
mass_feats += [name.replace('e1','e2') for name in mass_feats]
temperature_feats = ['e1_MeltingT']
temperature_feats += [name.replace('e1','e2') for name in temperature_feats]
radii_feats = ['e1_CovalentRadius']
radii_feats += [name.replace('e1','e2') for name in radii_feats]
electron_number_feats = ['e1_NsValence',
       'e1_NpValence', 'e1_NdValence', 'e1_NfValence', 'e1_NValence',
       'e1_NsUnfilled', 'e1_NpUnfilled', 'e1_NdUnfilled', 'e1_NfUnfilled',
       'e1_NUnfilled']
electron_number_feats += [name.replace('e1','e2') for name in electron_number_feats]

oxi_feats = ['e1_avg_oxi']
oxi_feats += [name.replace('e1','e2') for name in oxi_feats]

ionic_feats = ['max_ionic_char', 'avg_ionic_char', 'chg_dispro']

others = ['e1_Electronegativity','e1_GSbandgap', 'e1_GSmagmom',
       'e1_SpaceGroupNumber','e1_GSvolume_pa'] 
others += [name.replace('e1','e2') for name in others]

In [ ]:
# TAKE CARE OF OXIDATION INFS TOMORROW

# get pairwise combinations of feature names per group

In [50]:
all_groups = [ptable_number_feats,mass_feats,electron_number_feats,temperature_feats,radii_feats, oxi_feats]

all_dimensionless_features = []
all_dimensionless_feature_names = []

for group in all_groups:
    pairs_of_features = list(combinations(group,2))
    offset = 0
    if ('e1_NpValence' in group) or ('e1_avg_oxi' in group): offset = 1
    for feature_pair in pairs_of_features:
        f1, f2 = feature_pair[0], feature_pair[1]
        dimensionless_feature = ((features[f1]+offset) / (features[f2]+offset)).to_numpy()
        dimensionless_feature_names = f"{f1} / {f2}"

        all_dimensionless_features += [dimensionless_feature]
        all_dimensionless_feature_names += [dimensionless_feature_names]

dimensionless_feature_array = np.vstack(all_dimensionless_features).T
dimensionless_feature_df = pd.DataFrame(data = dimensionless_feature_array,columns=all_dimensionless_feature_names)

In [51]:
#Some final data wrangling due to addition of oxidation statistics (which are inherently unitless and therefore do not need to be put through pairwise code above)

more_dimensionless_feature_df = features[ionic_feats]

more_dimensionless_feature_df['chg_dispro'].replace({True: 1, False: 0}, inplace=True)

more_dimensionless_feature_df.head()

/var/folders/gs/2vxzz2sn2xb79y3v1l6mtp0r0000gn/T/ipykernel_84430/1038506718.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  more_dimensionless_feature_df['chg_dispro'].replace({True: 1, False: 0}, inplace=True)

   max_ionic_char  avg_ionic_char  chg_dispro
0        0.594445        0.132099           0
1        0.447278        0.099395           0
2        0.590585        0.131241           0
3        0.028486        0.006330           0
4        0.447278        0.099395           0

In [52]:
#Concatenate results
dimensionless_feature_df = pd.concat((dimensionless_feature_df,more_dimensionless_feature_df),axis=1)
dimensionless_feature_df.to_csv('final_dimensionless_feature_array.csv')

# clean out feature names with NaNs

In [53]:
number_of_nans_per_feature = np.sum(dimensionless_feature_df.isna().to_numpy(),axis=0)

print(number_of_nans_per_feature)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0]